# Assignment #6 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Jordan Davis 
</br>
Date: 3/27/25
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
<br>
Now we will start the process of uploading our dataset into a database. There are many different ways to upload your .csv data into a database (.db file). Databases can be created in many open source applications, MySQL workbench, and even some websites can load your .csv data into a database...for a small fee. Instead of using an application, we are going to first create our database for our dataset from scratch in Python. On a much larger scale, data may be automatically uploaded to a database once it is aquired.<br>

#### Assignment #6 Objectives

We will use the Python packages SQL Alchemy and SQLite to create three separate databases for practice. 
- Create one database on our MySQL server (10)
  - Create and populate our first table with appropriate data types
  - View the MySQL workbench schema to see the table you created
- Create one test database locally that we can still use with MySQL (3)
- Create one test database locally as a .db file. (2) <br>
<br>
Follow the instructions below to complete the assignment. For submission, please include your .ipynb file with output cells (Or a link to Github), and the screen shot of your first database table in MySQL Workbench. Answer any questions in markdown cell boxes. Be sure to comment all code in your own words.

### Creating our database from scratch to integrate with MySQL Workbench in Python<br>

**BEFORE YOU BEGIN!**<br>
Is your MySQL Server running on your local machine?<br>
**Start the server** if it is not running already.

We need the MySQL connector to work with Python since we are using SQLAlchemy with MySQL Workbench. Let's install the MySQL driver. Run the following code in a terminal window to install the MySQL connector: <br>
pip install mysql-connector-python mysql-connector

#### Creating a database from scratch in Python using SQL Alchemy<br>
Additional sources: <br>
-- https://medium.com/@sandyjtech/creating-a-database-using-python-and-sqlalchemy-422b7ba39d7e <br>
-- https://www.youtube.com/watch?v=xr7vDSFXjW0 <br>
-- https://www.geeksforgeeks.org/how-to-design-a-database-for-spotify/ (My specific inspiration for understanding a Spotify schema)

In [21]:
# Installs SQLAlchemy and MySQL connector to enable Python interaction with the MySQL databases
!pip install sqlalchemy mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\jorda\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: mysql-connector-python in c:\users\jorda\anaconda3\lib\site-packages (9.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jorda\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jorda\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [23]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

Open MySQL Workbench.
- Click on Local Instance (This is your port number - if needed)

In [25]:
# Connect to the MySQL server 
# Define our variables. We set these during our first class in our technology set up. 
# If you are unsure of these variables, do not guess. 
# Visit MySQL Workbench for the localport number, host and user.

conn = mysql.connector.connect(
        host="localhost", # This is your local instance number when you open MySQL Workbench.
        user="root", # This is your username for MySQL Workbench
        password="Jordansade4!") # We wrote this password down in our first class!

# In order to connect to the server, we must include all of the above.

cursor = conn.cursor()

# CREATE DATABASE (SQL command) if it does not already exist
cursor.execute("CREATE DATABASE IF NOT EXISTS X")
# MySQL_SpotifyDatabase will be the name when the database is created.
# Printing the statement to make sure it worked 
print("Database created successfully in MySQL Workbench! Go check it out.")

Database created successfully in MySQL Workbench! Go check it out.

**STOP**<br><br>
Confirm your database was created before continuing. <br> <br>
Open MySQL Workbench.<br>
Under MySQL Connections, click Local Instance<br>
Click the Schemas tab<br>
**You should now see a new (empty) database that you created**<br>
If it does not show up right away, hit refresh (The circular arrows)

In [27]:
# Time to connect to the database using SQL Alchemy:
DATABASE_URL = "mysql+mysqlconnector://root:password@localhost/database_name" # Use MySQL Connector to connect to the database
engine = create_engine(DATABASE_URL) # Creates a connection to the MySQL database
# Printing the staatment to make sure it worked
print("Connected to MySQL database successfully!")

Connected to MySQL database successfully!

In [29]:
# Read in the CLEAN .csv file (Using pandas) we will use to populate our database. This is the same dataset that you cleaned for Assignment #2!
# Load your cleaned dataset into a pandas DataFrame
weather = r"C:\Users\jorda\Documents\Data_Gathering\Assignment6\cleaned_goal13_temperature.csv"
# Reading in the file as a data frame
df = pd.read_csv(weather)

In [31]:
# Checking the first five rows of the data set
df.head()

   year  temp    x5   x95         series
0  1995  0.65  0.46  0.79  reconstructed
1  1994  0.64  0.46  0.77  reconstructed
2  1993  0.62  0.45  0.76  reconstructed
3  1992  0.61  0.45  0.74  reconstructed
4  1991  0.59  0.44  0.71  reconstructed

In [33]:
# What are all of the column names and data types for our dataset? 
df.columns.tolist() # checks the column names and puts it as a list
# It is important to know the column names from the .csv because these are the field names we will want to use for our first table.
# Remember, the field names represent the column names of the csv/table.

['year', 'temp', 'x5', 'x95', 'series']

The column names for this data set are useful.

If you are an experienced Python user, you can create a base Python class for all of our tables before populating them and use built in SQLAlchemy features. <br>
To practice SQL, we will create our database from scratch using SQL commands in Python instead.

We can use a new SQL statement CREATE TABLE to create our first table in our new database by writing a query.<br>
Everyone's data is different! Choose the SQL data types that fit YOUR data needs!<br>
SQL Data Types: https://www.w3schools.com/sql/sql_datatypes.asp

In [35]:
# Create our first table in the database file using SQL statements:
# We want our table column names to match what is in the .csv file
# Define a SQL query to create a table in the MySQL database
first_table_query = """
CREATE TABLE IF NOT EXISTS weather_data (  -- Creating a new table named 'weather_data' if it doesn't already exist
    id INT AUTO_INCREMENT PRIMARY KEY,     -- Adding a unique 'id' column that auto-increments for each new row; the table's primary key
    year INT,                              -- 'year' column to store integer values representing the year
    temp FLOAT,                            -- 'temp' column to store floating point numbers 
    x5 FLOAT,                              -- 'x5' column to store 5th percentile temperature values
    x95 FLOAT,                             -- 'x95' column to store 95th percentile temperature values
    series VARCHAR(50)                     -- 'series' column to store strings 
);
"""

In [41]:
from sqlalchemy import create_engine # I am putting it again down here because I had a problem trying to get it t work and this fixed it

# Manually putting it in
DATABASE_URL = "mysql+mysqlconnector://root:Jordansade4!@localhost:3306/x"

# Creating the engine
engine = create_engine(DATABASE_URL)

# Testing the connection
with engine.connect() as connection:
    print("Connected to MySQL successfully!") # printing the statement to see if it worked

Connected to MySQL successfully!

Why did you choose these values to make up your first database table? What did you choose for your primary key and why?
    The columns: year, temp, x5, x95, and series columns. They represent time-series temperature data, including overall temperature, 5th percentile, and 95th percentile values, which are common in climate analysis. The primary key chosen was an id column defined as INT AUTO_INCREMENT PRIMARY KEY. This ensures each row in the table has a unique identifier.

In [45]:
# There are multiple ways to populate the fields of the table. 
# Another option is to add a subset of the data into data table, and then populate the database table.
# Please feel free to change or alter the code below.
# This example uses the MySQL connector:

#with engine.connect() as connection:
    # Make sure MySQL is using the correct database
 #   cursor.execute(" ")

    # Populate the  table

    
#    conn.commit()
# This will insert your DataFrame into the existing 'weather_data' table
df.to_sql(name='weather_data', con=engine, if_exists='append', index=False)
# Printing the statement to make sure it works 
print("DataFrame successfully inserted into MySQL table!")

DataFrame successfully inserted into MySQL table!

**STOP**<br><br>
In MySQL Workbench, you should see your new table that you have created and populated.<br>
You can now run a SQL query directly in MySQL Workbench!<br>
You can also run a query below to test it:

In [47]:
# Now that we have populated our table, let's try out a query.

# Query the table using SQLAlchemy and pandas
with engine.connect() as connection:  # Establish a connection to the database
    practice_query = text("""
        SELECT * FROM weather_data
        LIMIT 5;
    """)  # SQL query to get the first 5 rows from the table

    # Run the query and load the result into a data frame
    practice_query = pd.read_sql(practice_query, connection)

# Display the results
practice_query

   id  year  temp    x5   x95         series
0   1  1995  0.65  0.46  0.79  reconstructed
1   2  1994  0.64  0.46  0.77  reconstructed
2   3  1993  0.62  0.45  0.76  reconstructed
3   4  1992  0.61  0.45  0.74  reconstructed
4   5  1991  0.59  0.44  0.71  reconstructed

**STOP**<br>
To create a new schema diagram for your new database (Even though it only has one table...it's good practice!)<br>
Open MySQL Workbench again<br>
Click Home<br>
Click the Models icon<br>
Click the > icon to the right of "Models"<br>
Choose “Create EER Model from Database” <br>
The Reverse Engineer Database Wizard starts and will walk you through your first database schema diagram.<br>
Save your model. <br>
You can now add relationships and or modify tables...but for this assignment, all we need is that first table. <br>

**Add a screen shot of your first schema diagram (The table) to your repository/Blackboard subission.**

In [49]:
#Close the database connection :)
cursor.close()
conn.close()

### Creating a local database from scratch

#### Creating a local database from scratch in Python using SQL Alchemy for MySQL Workbench:<br>
Another example: https://blog.sqlitecloud.io/sqlite-python-sqlalchemy

In [51]:
# BEFORE YOU BEGIN!
# Is your MySQL Server running on your local machine?
# Doesn't matter this time, please continue! :)
from sqlalchemy import create_engine

In [53]:
engine = create_engine("sqlite:///X.db")  # Creates a local database file in the SAME directory as this document.

In [55]:
# The only database connection parameters we need here are the name of the database we just created locally
# NOTE: We are not using the local host, but can still connect our database to MySQL
DATABASE_URL = "mysql+mysqlconnector://root:Jordansade4!@127.0.0.1/X"

In [57]:
from sqlalchemy import create_engine # Again, the only way it works for me. 

# Create a local SQLite database called x.db in the same folder
engine = create_engine("sqlite:///x.db")
# Printing the statement to make sure it works 
print("Local SQLite database created successfully!")

Local SQLite database created successfully!

In [59]:
# Close your connection :)
conn.close()

**STOP HERE**<br>
Before moving on, it is **important** to understand the difference of what we have just completed. Using SQL Alchemy, we have created a database LOCALLY. Notice we did not specify a specific host, BUT we did specify a user and password! This means we can access this database locally in MySQL Workbench if we choose.

#### Creating a local database (.db file) from scratch in Python using SQLite:<br>

In [61]:
# Load necessary packages:
from sqlalchemy import create_engine, inspect, text # Database navigation
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

In [63]:
# Load the .csv subset again if you need to if you are starting over 


# Create a SQLite database and engine
db_file = "X.db"
engine = create_engine(f"sqlite:///{db_file}")

# Store the dataframe in the database as a single table for quick practice 
df.to_sql("X", con=engine, if_exists="replace", index=False)

2153

**STOP HERE**<br>
This method creates a database as a file on our local machine. The .db file is created in the same location or working directory you are currently in (Go check!). If you did not specify a working directory, the .db file is created where this .ipynb is located.

In [65]:
#Close the database connection :)
conn.close()