# Assignment #8 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Jordan Davis
</br>
Date: 4/10/25
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
- Created our own databases from scratch using MySQL Workbench and Python with SQLAlchemy on our local server and locally on our machine.
- Populated our databases with the data we cleaned at the start of the semester.
<br>

Now we will **JOIN** our knowledge and tables to answer more complex questions about our dataset! We will practice joining tables and understand the importance of using different commands.<br>

JOIN statements are used to combine results from two or more tables based on a related column between them.<br>

Review the powerpoint and readings specified on Blackboard.<br>

In the event your database does not meet the requirements below to answer the question, please use the database provided in Assignment #4 and #5. Remember to credit your data source. <br>

Follow the instructions below to complete the assignment. Write your question you are answering with your data query and visualize your results in a way that fits your data. <br>
Be sure to comment **all** code and answer **all** questions in markdown for full credit.<br>

I am going to start by reconnecting to my database and loading in the necessary libraries

In [1]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

In [3]:
# SQLAlchemy connection URL to my MySQL database
DATABASE_URL = "mysql+mysqlconnector://root:Jordansade4!@localhost:3306/x"

# Creating the engine
engine = create_engine(DATABASE_URL)

# Testing the connection and printing the statement to make sure it worked 
with engine.connect() as conn:
    print("Connected to MySQL database.")

Connected to MySQL database.

**Data origin:**

#### INNER JOIN (or JOIN)
Display matching records from TWO tables! Choose to combine two tables using inner join. <br>
Write your question you are answering with your data query and visualize your results. <br>
<br>
**Example Question:** What were the songs most listened to during this week in the year 2022?
<br>
**What tables are we joining?** song and listening_history

INNER JOIN QUESTION-

I realized as I was doing this part that I populated everything correctly in the past two assignments except I forgot to 
actually insert the data frame into my database so everything is empty. 
I am going to fix that now.

In [19]:
# Loading in the data
file_path = "C:/Users/jorda/Documents/Data_Gathering/Assignment6/cleaned_goal13_temperature.csv"
# Putting it into a data frame
df = pd.read_csv(file_path)

# Inserting the full data into the weather_data table
df.to_sql('weather_data', con=engine, if_exists='append', index=False)

# Inserting year + temp into the year_temp table
df[['year', 'temp']].to_sql('year_temp', con=engine, if_exists='append', index=False)

# Inserting year + x5 into the year_x5 table
df[['year', 'x5']].to_sql('year_x5', con=engine, if_exists='append', index=False)

# Inserting year + x95 into year_x95 table
df[['year', 'x95']].to_sql('year_x95', con=engine, if_exists='append', index=False)

# Inserting year + temp + x5 + x95 into year_temp_x5_x95 table
df[['year', 'temp', 'x5', 'x95']].to_sql('year_temp_x5_x95', con=engine, if_exists='append', index=False)

# Making sure it worked
print("Data inserted successfully!")

Data inserted successfully!

Question: What was the temperature recorded in the year 1995 according to both year_temp and year_x5?
What tables are we joining: "year_temp" and "year_x5"

In [27]:
# Starting to write the query
query = """
SELECT 
    yt.year AS year,
    yt.temp AS temperature,
    yx.x5 AS x5_value
FROM year_temp yt
INNER JOIN year_x5 yx
    ON yt.year = yx.year
WHERE yt.year = 1995;
"""
# Selecting the year as year, temp as temperature and x5 as x5_value from the year_temp table
# and shortening it to yt. Doing the innter join to see what the temp was in 1995.
# Running the query directly through SQLAlchemy 
result_df = pd.read_sql_query(query, con=engine)

# Printing the result
print(result_df)

   year  temperature  x5_value
0  1995         0.66      0.46
1  1995         0.65      0.46
2  1995         0.66      0.66
3  1995         0.65      0.66

In the year 1995, the recorded temperatures were 0.66 and 0.65. The corresponding x5 values were 0.46 and 0.66, resulting in four matching combinations from the joined tables.

#### LEFT JOIN
<br>
Returns ALL records from the left table and matching records from the right table. Write your question you are answering with your data query and visualize your results.. 
<br><br>
**Question:** What day of the week were the most songs played?
<br>
**What tables are we joining?** song and listening_history

Question: Which years have recorded x5 and x95 values, even if temperature data was not available?
What tables are we joining: "year_x5" and "year_x95"

In [29]:
# Starting the query 
query = """
SELECT 
    x5.year AS year,
    x5.x5 AS x5_value,
    x95.x95 AS x95_value
FROM year_x5 x5
LEFT JOIN year_x95 x95
    ON x5.year = x95.year;
"""
# Selecting the tables and shortening them to make it easier and left joining to get which years have the maximum
# and minimum recorded values (the data is redundant). 
# Running the query
result1_df = pd.read_sql_query(query, con=engine)
# Printing the results
print(result1_df)

      year  x5_value  x95_value
0     1995      0.46       0.66
1     1995      0.46       0.79
2     1994      0.46       0.65
3     1994      0.46       0.77
4     1993      0.45       0.62
...    ...       ...        ...
2430  1857     -0.01       0.06
2431  1856      0.00       0.00
2432  1856      0.00       0.06
2433  1855      0.00       0.00
2434  1855      0.00       0.07

[2435 rows x 3 columns]

The output shows that most years (if not all) in the year_x5 table also have matching x95 values in the year_x95 table.

#### RIGHT JOIN
<br>
Returns ALL records from the right table and matching records from the left table. Write your question you are answering with your data query and visualize your results.. <br>
<br>
**Question:** What were the days of the week and artists listened to on Sundays? Include all listening history for those times.
<br>
**What tables are we joining?** song and listening_history

Question: What were the x95 values recorded for each year, even if x5 data was not available?
What tables are being joined: "temp_x5" and "temp_x95

In [31]:
# Starting the query 
query = """
SELECT 
    x95.year AS year,
    x5.x5 AS x5_value,
    x95.x95 AS x95_value
FROM year_x5 x5
RIGHT JOIN year_x95 x95
    ON x5.year = x95.year;
"""
# Selecting from the tables above and right joining them to get the values recorded for each year. 
# Running the query and showing the results
result2_df = pd.read_sql_query(query, con=engine)
print(result2_df)

      year  x5_value  x95_value
0     1995      0.66       0.79
1     1995      0.46       0.79
2     1994      0.65       0.77
3     1994      0.46       0.77
4     1993      0.62       0.76
...    ...       ...        ...
2430  1857     -0.23      -0.01
2431  1856      0.00       0.00
2432  1856     -0.23       0.00
2433  1855      0.00       0.00
2434  1855     -0.23       0.00

[2435 rows x 3 columns]

The output shows that all years from the year_x95 table were included, with matching x5 values from year_x5  where available. 
Since no null values appear in the x5 value column, this means every year in year_95 also had a corresponding x5 entry.

#### FULL JOIN or UNION of RIGHT JOIN and LEFT JOIN
<br>
Can answer multiple objectives at the same time! Not recommended for large databases. Results may slow your machine or quit before finishing. Write your question you are answering with your data query and visualize your results. <br>
<br>
**Question:** What artists were listened to on Sundays and what are the listening_history details in the year 2021? Let's save this as a dataframe and determine which artist contained the most "trackdone" (Listened to the entire song).
<br>
**What tables are we joining?** song and listening_history

Question: Which years had either temperature data or complete temp–x5–x95 sets, and what values were available?
What tables were used: "year_temp" and "year_temp_x5_x95"

In [33]:
# Starting the query 
query = """
SELECT 
    yt.year AS year,
    yt.temp AS temp_only,
    ytx.x5 AS x5_value,
    ytx.x95 AS x95_value
FROM year_temp yt
LEFT JOIN year_temp_x5_x95 ytx
    ON yt.year = ytx.year

UNION

SELECT 
    ytx.year AS year,
    yt.temp AS temp_only,
    ytx.x5 AS x5_value,
    ytx.x95 AS x95_value
FROM year_temp_x5_x95 ytx
RIGHT JOIN year_temp yt
    ON ytx.year = yt.year;
"""
# This query combines all years from both year_temp and year_temp_x5_x95` using a FULL JOIN. 
# It returns each year along with any available temperature, x5, and x95 values, even if some values are missing from one of the tables.
# Running it and saving to a df
result3_df = pd.read_sql_query(query, con=engine)
# Printing the results
print(result3_df)

      year  temp_only  x5_value  x95_value
0     1995       0.65      0.66       0.66
1     1995       0.65      0.46       0.79
2     1994       0.64      0.65       0.65
3     1994       0.64      0.46       0.77
4     1993       0.62      0.62       0.62
...    ...        ...       ...        ...
2418  1857      -0.01     -0.23       0.06
2419  1856       0.00      0.00       0.00
2420  1856       0.00     -0.23       0.06
2421  1855       0.00      0.00       0.00
2422  1855       0.00     -0.23       0.07

[2423 rows x 4 columns]

The output displays all years that appeared in either the year_temp or year_temp_x5_x95 table, combining available temperature, x5, and x95 values. 
This confirms that most years had full data across both tables, with no missing values in the result.

I probably would not have used this data for this specific project again. It is very limited and I know that now. 
But, I think that I was still able to complete these last three assignments with this data set.

In [ ]:
# Close your connection :)
cursor.close()
conn.close()