# Assignment #7 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Jordan Davis
</br>
Date: 4/10/25
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
- Created our own databases from scratch using MySQL Workbench and Python with SQLAlchemy/SQlConnector on our local server and locally on our machine.
<br>

Now we will populate and create **all** tables for our dataset into our database and finalize our ERR diagram.<br>

We created a database three different ways in our previous assignment; One database on our local MySQL server, one test database stored locally that integrates with MySQL and one test database stored only locally as a .db file on your machine. Now we will create all tables and populate your tables with your data from your dataset (Feel free to practice with all methods, but it is encouraged to use the first method that will allow you to create your schema diagram). After populating your database, create a visual database schema diagram in MySQL Workbench. <br>
<br>
Be sure to comment all code. Include a .png image of your database schema from MySQL Workbench in your Blackboard submission or Github repository.

I have SQL workbench open and I am going to start by importing my packages and reconnecting to the server.

In [1]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation

In [3]:
# SQLAlchemy connection URL to my MySQL database
DATABASE_URL = "mysql+mysqlconnector://root:Jordansade4!@localhost:3306/x"

# Creating the engine
engine = create_engine(DATABASE_URL)

# Testing the connection and printing the statement to make sure it worked 
with engine.connect() as conn:
    print("Connected to MySQL database.")

Connected to MySQL database.

I am going to keep the original table I created in Assignment #6.
I am adding four more tables that I drew out for my schema. 
There will be five tables in total.
1. year, temp, x5, x95, and series.
2. year, x5
3. year, x95
4. year, temp
5. year, temp, x95, and x5

In [5]:
# I am creating the year and the x5 table
create_year_x5 = """
CREATE TABLE IF NOT EXISTS year_x5 (
    id INT AUTO_INCREMENT PRIMARY KEY,    -- Unique identifier for each row
    year INT,                             -- Year of observation
    x5 FLOAT                              -- 5th percentile temperature
);
"""
# Connects to the db using the engine
with engine.connect() as conn:
    conn.execute(text(create_year_x5)) # Creates the table
    print("Table 'year_x5' created.") # Sanity Check

Table 'year_x5' created.

In [7]:
# Creating the year and x95 table
create_year_x95 = """
CREATE TABLE IF NOT EXISTS year_x95 (
    id INT AUTO_INCREMENT PRIMARY KEY,    -- Unique row ID
    year INT,                             -- Year of observation
    x95 FLOAT                             -- 95th percentile temperature
);
"""
# Using the engine to connect to the db
with engine.connect() as conn:
    conn.execute(text(create_year_x95)) # Creates the table
    print("Table 'year_x95' created.") # Sanity Check

Table 'year_x95' created.

In [9]:
# Creating the year and temp table
create_year_temp = """
CREATE TABLE IF NOT EXISTS year_temp (
    id INT AUTO_INCREMENT PRIMARY KEY,    -- Unique identifier
    year INT,                             -- Year
    temp FLOAT                            -- Average temperature
);
"""
# Using the engine to connect to the db
with engine.connect() as conn:
    conn.execute(text(create_year_temp)) # Creating the table
    print("Table 'year_temp' created.") # Sanity check

Table 'year_temp' created.

In [11]:
# Creating the year, temp, x5, x95 table
create_year_temp_x5_x95 = """
CREATE TABLE IF NOT EXISTS year_temp_x5_x95 (
    id INT AUTO_INCREMENT PRIMARY KEY,    -- Unique row identifier
    year INT,                             -- Year
    temp FLOAT,                           -- Average temperature
    x5 FLOAT,                             -- 5th percentile
    x95 FLOAT                             -- 95th percentile
);
"""
# Using the engine to connect to the db
with engine.connect() as conn:
    conn.execute(text(create_year_temp_x5_x95)) # Creates the table 
    print("Table 'year_temp_x5_x95' created.") # Sanity check

Table 'year_temp_x5_x95' created.

In [13]:
#Close the database connection :)
conn = engine.connect()
conn.close()
# Sanity Check
print("Database connection closed.")

Database connection closed.

**MySQL Workbench**<br>
To export your database schema as a .PNG:<br>
->Go to your EER Diagram<br>
->File<br>
->Export<br>
->Export as .PNG